.main-contato {
    margin: 190px 45px 100px 45PX;
    display: flex;
    background-color: rgba(238, 38, 38, 0.5);
    border-radius: 20px;
}

.titulo-contato h1{
    font-family: "Dancing Script", cursive;
    font-size: 55px;
}

.paragrafos-contato p {
    font-family: "Dancing Script", cursive;
    font-size: 30px;
    text-align: center;
}

.tipos-de-contato {
    font-family: "Merriweather", serif;
    font-size: 30px;
    text-align: center;
}

.section-contato {
    border-radius: 20px;
}

.conteudo-principal-contato {
    margin: 50px;
    padding: 10px;
    background-color: rgba(238, 38, 38, 0.5);
    border-radius: 20px;
}

.container-icons-contato {
    align-items: center;
    text-align: center;
}

.eMail-contato, .numero-contato {
    background-color: rgba(238, 38, 38, 0.5);
    margin: 20px;
    border-radius: 10px;
    height: 50px;
    align-items: center;
    text-align: center;
    cursor: pointer;
}

.eMail-contato p, .numero-contato p {
    padding: 15px;
    font-size: 20px;
}

.imagem-div-contato img {
    margin-top: 50px;
    margin-right: 45px;
    margin-left: 60px;
    height: 570px;
    width: 550px;
    border-radius: 170px;
}