@media (max-width: 1200px) {
    .container_banner {
        margin: 150px 50px 70px 50px; /* Reduzindo a margem superior para telas menores */
    }

    .content-sobre {
        margin-left: 100px;
        margin-right: 100px;
    }

    .banners-h2 h2 {
        font-size: 50px;
    }
}

@media (max-width: 884px) {
    .container_banner {
        margin: 150px 30px 50px 30px; /* Reduzindo ainda mais a margem superior */
    }

    .content-sobre {
        margin-left: 50px;
        margin-right: 50px;
    }

    .imagem-logo img {
        width: 150px;
        height: 150px;
    }

    .banners-h2 h2 {
        font-size: 40px;
    }
}

@media (max-width: 768px) {
    .container_banner {
        margin: 150px 30px 50px 30px; /* Reduzindo ainda mais a margem superior */
    }

    .content-sobre {
        margin-left: 50px;
        margin-right: 50px;
    }

    .imagem-logo img {
        width: 150px;
        height: 150px;
    }

    .banners-h2 h2 {
        font-size: 40px;
    }
}

@media (max-width: 480px) {
    .container_banner {
        margin: 80px 20px 40px 20px; /* Ajustando para telas bem pequenas */
    }

    .content-sobre {
        margin-left: 20px;
        margin-right: 20px;
    }

    .imagem-logo img {
        width: 120px;
        height: 120px;
        margin: 20px;
    }

    .banners-h2 h2 {
        font-size: 30px;
        margin-bottom: 50px;
    }
}

@media (max-width: 428px) {
    .container_banner {
        margin: 150px 20px 40px 20px; /* Ajustando para telas bem pequenas */
    }

    .content-sobre {
        margin-left: 20px;
        margin-right: 20px;
    }

    .imagem-logo img {
        width: 120px;
        height: 120px;
        margin: 20px;
    }

    .banners-h2 h2 {
        font-size: 30px;
        margin-bottom: 50px;
    }
}